appnope
argon2-cffi
async-generator
attrs
backcall
bleach
cffi
click
debugpy
decorator
defusedxml
entrypoints
faiss-cpu
Flask
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
py4j
pycparser
Pygments
pyparsing
pyrsistent
pyspark
python-dateutil
pytz
pyzmq
qtconsole
QtPy
redis
Send2Trash
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
Werkzeug
widgetsnbextension